<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background_scroll/bg_island1.png</key>
			<dict>
				<key>width</key>
				<integer>454</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>454</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>background_scroll/bg_island2.png</key>
			<dict>
				<key>width</key>
				<integer>511</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>511</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>background_scroll/bg_land_l.png</key>
			<dict>
				<key>width</key>
				<integer>1020</integer>
				<key>height</key>
				<integer>613</integer>
				<key>originalWidth</key>
				<integer>1020</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>background_scroll/bg_land_r.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>637</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>1535</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>background_scroll/bg_moutain_h.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>background_scroll/bg_ocean_h.png</key>
			<dict>
				<key>width</key>
				<integer>683</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>683</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>704</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>background_scroll/bg_sky.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>568</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>845</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>background_scroll/marker.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>5</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>cloud_floor/bean_tree.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>741</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>741</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_01.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1415</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_02.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1515</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_03.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1615</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_04.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1715</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_05.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1815</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_06.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1915</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_07.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_08.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_09.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>931</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>cloud_floor/cloud_cover_10.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>942</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_11.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>1058</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_cover_12.png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>930</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>1158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_main_01.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>1009</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_main_02.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>1009</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_main_03.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>1009</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_main_04.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>1009</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_main_05.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>1009</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>930</integer>
				<key>y</key>
				<integer>1884</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_slots_pot_01.png</key>
			<dict>
				<key>width</key>
				<integer>617</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>619</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2015</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloud_floor/cloud_small_01.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hud/bubble_notify.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>hud/bubble_notify_01.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>hud/bubble_notify_02.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>hud/bubble_notify_03.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>hud/bubble_notify_04.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>hud/icon_gold.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hud/icon_newspaper.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hud/icon_tab_hammer.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>hud/icon_tab_items.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>598</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>hud/icon_tab_trophy.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>845</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>hud/icon_tab_upgrade.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>items/item_aromatic_lemon.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>1017</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>uiBackground0.png</string>
			<key>realTextureFileName</key>
			<string>uiBackground0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>