<serverSettings>
  <socketAddresses>
    <socket address="0.0.0.0" port="8001" type="TCP"/>
  </socketAddresses>
  <ipFilter>
    <addressBlackList>
      <string>100.101.102.103</string>
    </addressBlackList>
    <addressWhiteList>
      <string>192.168.0.16</string>
    </addressWhiteList>
    <maxConnectionsPerAddress>9999999</maxConnectionsPerAddress>
  </ipFilter>
  <flashCrossdomainPolicy>
    <useMasterSocketPolicy>true</useMasterSocketPolicy>
    <policyXmlFile>crossdomain.xml</policyXmlFile>
  </flashCrossdomainPolicy>
  <systemControllerThreadPoolSize>2</systemControllerThreadPoolSize>
  <extensionControllerThreadPoolSize>10</extensionControllerThreadPoolSize>
  <systemControllerRequestQueueSize>20000</systemControllerRequestQueueSize>
  <extensionControllerRequestQueueSize>100000</extensionControllerRequestQueueSize>
  <schedulerThreadPoolSize>3</schedulerThreadPoolSize>
  <protocolCompressionThreshold>1500</protocolCompressionThreshold>
  <protocolMode>BINARY</protocolMode>
  <remoteAdmin>
    <administrators>
      <adminUser>
        <login>thuanvt</login>
        <password>GatoMonitor@123</password>
      </adminUser>
    </administrators>
    <allowedRemoteAddresses>
    </allowedRemoteAddresses>
    <adminTcpPort>9001</adminTcpPort>
  </remoteAdmin>
  <bannedUserManager>
    <isAutoRemove>true</isAutoRemove>
    <isPersistent>true</isPersistent>
    <customPersistenceClass></customPersistenceClass>
  </bannedUserManager>
  <extensionRemoteDebug>false</extensionRemoteDebug>
  <useFriendlyExceptions>false</useFriendlyExceptions>
  <mailer>
    <mailHost>toantn@vng.com.vn</mailHost>
    <mailUser>toantn</mailUser>
    <mailPass>myplay</mailPass>
    <smtpPort>25</smtpPort>
    <workerThreads>1</workerThreads>
  </mailer>
  <webServer>
    <isActive>true</isActive>
    <cfgFile>config/jetty/jetty.xml</cfgFile>
  </webServer>
  <startExtensionFileMonitor>false</startExtensionFileMonitor>
  <useFriendlyLogging>true</useFriendlyLogging>
  <useDebugMode>true</useDebugMode>
  <sessionMaxIdleTime>100</sessionMaxIdleTime>
  <userReconnectionSeconds>1</userReconnectionSeconds>
  <userMaxIdleTime>600</userMaxIdleTime>
  <ghostHunterEnabled>true</ghostHunterEnabled>
  <admin>
    <login>thuanvt</login>
    <password>GatoAdmin@123</password>
  </admin>
  
  <webSocket>
    <isActive>false</isActive>
    <bindAddress>0.0.0.0</bindAddress>
    <tcpPort>8301</tcpPort>
    <sslPort>8301</sslPort>
    <validDomains/>
    <isSSL>true</isSSL>
    <isUsingFixThreadPool>true</isUsingFixThreadPool>
    <keyStoreFile>./data/keystore/kvtm-dev26-vn-game.service.zingplay.com.jks</keyStoreFile>
    <keyStorePassword>uRxoGw7tnSwwTjgx</keyStorePassword>
  </webSocket>
  
</serverSettings>